<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Waves</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="waves-header">My Waves</h1>
    <p>Username: <%= user.username %></p>
    <p>Your Bio: <%= user.bio  %></p>
    <% if (user.picture) { %>
        <img src="<%= user.picture %>" alt="Profile Picture" />
        <% } %>

    <% if (waves.length === 0) { %>
        <p>You have no saved destinations!</p>
    <% } else { %>
       <ul class="wave-list">
            <% waves.forEach(wave => { %>
            <li>
                <a href="/users/<%= user._id %>/waves/<%= wave._id %>">
                <%= wave.name %>
                </a>
            </li>
        <% }) %>
       </ul>
    <% } %>

    <a class="add-item" href="/users/<%= user._id %>/waves/new" >Add a wave to your profile</a>
</body>
</html>