<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title>My Waves</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="profile-header">My Profile</h1>
    <div class="profile-info">
    <h3>Username: <%= profile.username %></h3>
    <div class="current-picture">
    <% if (profile.picture) { %>
        <img src="<%= profile.picture %>" alt="Profile Picture" style="max-width: 100px; max-height: 100px;" />
        <% } %>
    </div>
    <p>Your Bio: <%= profile.bio  %></p>
    </div>
    <% if (waves.length === 0) { %>
        <p>You have no saved destinations!</p>
    <% } else { %>
       <ul class="wave-list">
            <% waves.forEach(wave => { %>
            <li>
                <a href="/users/<%= profile._id %>/waves/<%= wave._id %>">
                <%= wave.name %>
                </a>
            </li>
        <% }) %>
       </ul>
    <% } %>
    <a class="edit-profile" href="/profiles/<%= profile._id %>/edit">Edit profile</a>
    
</body>
</html>