<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Waves</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="waves-header"><%= user.username %>'s Waves</h1>
    
    <% if (waves.length === 0) { %>
        <p class="no-waves">You have no saved destinations!</p>
    <% } else { %>
        <div class="wave-list-container">
       <ul class="wave-list">
            <% waves.forEach(wave => { %>
            <li>
                <a href="/users/<%= user._id %>/waves/<%= wave._id %>" class="wave-item">
                <%= wave.name %>
                </a>
            </li>
        <% }) %>
       </ul>
    </div>
    <% } %>

    <a class="add-item" href="/users/<%= user._id %>/waves/new" >Add a wave to your profile</a>
</body>
</html>