<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= wave.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-body">
      <div class="show-header">
        <h1><%= wave.name %></h1>
        <div class="show-sidebar">
          <div class="show-actions">
            <a
              href="/users/<%= user._id %>/waves/<%= wave._id %>/edit">Edit Wave</a>
            <form
              action="/users/<%= user._id %>/waves/<%= wave._id %>?_method=DELETE"
              method="POST">
              <button type="submit">Delete Wave</button>
            </form>
          </div>
          <p>Location: <%= wave.location %></p>
          <p>Classification: <%= wave.classification %></p>
          <p>Difficulty: <%= wave.difficulty %></p>
          <p>Wave Rating: <%= wave.rating %></p>
          <% if (wave.dangerous) { %>
           <p>This wave is dangerous!</p>
           <% } else { %>
            <p>This is not a dangerous wave.</p>
          <% } %>
        </div>

      </div>
      
     <% if (wave.notes) { %>
        <div class="show-notes">
          <h2>Notes:</h2>
          <p><%= wave.notes %></p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>